body{
    font-family: Helvetica;
    font-size: 20px;
}





h1 {
    color: blue;
    font-weight: normal;
}

h1:hover{
    color: pink;
}

h2{
    color: green;
    text-align: center;
    text-decoration: underline;
}

.h2-grey{
    color: grey;
}

.h2-non-souligne{
    text-decoration: none;
}

p{
    color: orange;
}

.p-cl-purple{
    color: purple;
    
}

ol{
    color: pink;
}

.txt-cl-blue{
    color: blue;
}

.txt-cl-blue-it{
    font-style: italic;
    color: blue;
}

.ul-non-centre{
    text-align: center;
    list-style: none;
}

.txt-maj{
    text-transform: uppercase;
}

.txt-droite{
    text-align: right;
}