* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    
}

h2{
    text-transform: uppercase;
    color: #444;
    margin-bottom: 10px;
}

/* Section about-us */
.about-us {
    display: block;
    /* background-color: blue; */
    text-align: center;
    min-height: 300px;
    width: 80%;
    padding: 20px 0;
    margin: auto;
    font-size: 14px;
    border: 1px solid black;
    
}

.about-us p {
    margin-bottom: 10px;
}

.about-us a:hover{
    color: rgb(170, 170, 144);
}

.about-us a {
    text-decoration: none;
    transition: 0.3s;
}

.hero{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("/site-web/img/university-petite.jpg");
    background-position: center;
    background-size: cover;
    min-height: 300px;
    display: block;
    text-align: center;
    padding: 20px ;
    width: 80%;
    margin: 50px auto;
}

.txt-h1{
   margin-bottom: 70px;
   color: white;
}

.hero strong {
    text-transform: uppercase;
    font-style: italic;
}

.hero a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: rgb(143, 0, 0);
    padding: 9px 10px;
    border-radius: 5px;
}

.hero a:hover{
    color: grey;
    transition: 0.3s;
}