<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/practice.css">
</head>
<body>
    <div>
        <h1>Les Jeux Olympiques</h1>
        
        <p>
            Les jeux olympiques sont un évènement mondial celebrant l'unité, l'amitié et l'excellence sportive
        </p>
    </div>

    <div>
        <h2>Histoire des Jeux Olympiques</h2>
        <p>Les jeux olympiques ont une longue histoire remontant a l'Antiquité grecque, ils ont été rétablis en 1896 et se tiennent tous les <strong>4 ans</strong> </p>
    </div>
    
    <div>
        <h2>Disciplines Sportives</h2>
        <p class="p-cl-purple">Les jeux comprennent une variété de disciplines sportives passionnantes telles que l'athlétisme, la natation, le basketball, le cyclisme et bien d'autres</p>
    </div>

    <div>
        <h2 class="h2-grey">Prochaines Olympiades</h2>
        <p class="p-cl-purple txt-droite">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo hic tenetur porro ut inventore excepturi vitae corporis quisquam facilis. Molestiae pariatur ea porro possimus incidunt unde libero itaque vel praesentium!</p>
    </div>

    <div>
        <h2>Pays Hôtes recents</h2>
        <ol>
            <li class="txt-maj">Athenes</li>
            <li>Pekin</li>
            <li class="txt-maj">Londres</li>
            <li>Rio de Janeiro</li>
            <li>Tokyo</li>
        </ol>
    </div>

    <div>
        <h2 class="h2-non-souligne">Principaux Sports Olympiques</h2>
        <ul class="ul-non-centre">
            <li class="txt-cl-blue txt-maj">athlétisme</li>
            <li>natation</li>
            <li>football</li>
            <li>basketball</li>
            <li class="txt-cl-blue-it">gymnastique</li>
        </ul>
        <p>Merci de célébrer l'esprit olympique avec nous!</p>
    </div>

        
    </body>
</html>
        
        