* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    background-color: green;
    margin: 50px;
    height: 500px;

    /* La propriété { display : flex } donne un pouvoir sur les éléments enfants direct */
    display: flex;
    
    /* La propriété { flex-direction } permet de choisir la direction de l'axe principal*/
    flex-direction: row;
    /* row | column */

    /* La propriété { justify-content: ;} permet d'aligner dans le sens horizontal */
    justify-content: space-between;
    /* flex-start | flex-end | center | space-between | space-around */

    /* La propriété { align-items: ;} permet d'aligner dans l'axe secondaire */
    align-items: flex-start;
    /* flex-start | center | flex-end */

    /* Permet de mettre de l'espace entre les enfants direct */
    gap: 10px;

    flex-wrap: wrap;






}   

    


.item {
    width: 100px;
    height: 100px;
    background-color: aqua;
}