<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css-flexbox/assets/css/practice-flexbox.css">
</head>
<body>
    <header>
        <nav class="container">
            <a href="" class="item">accueil</a>
            <a href="" class="item">nos produits</a>
            <a href="" class="item">soldes</a>
            <a href="" class="item">contact</a>
            <a href="" class="item">information</a>
        </nav>
    </header>
    <h1>Accueil</h1>
</body>
</html>